<!DOCTYPE html>
<html>
<head>
    <title>Flask Thread Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #upload-button {
            background-color: white;
            color: black;
            border: 1px solid black;
            padding: 10px 20px;
            cursor: pointer;
        }

        #upload-button.active {
            background-color: green;
            color: white;
        }
    </style>
</head>
<body>
    <h1 id="status">Thread not started</h1>
    <button id="upload-button">Start Upload</button>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#upload-button').click(function() {
                $.post('/upload_thread', function(data) {
                    updateStatus(data.status);
                    $('#upload-button').addClass('active');
                });

                uploadStatus();
            });

            function uploadStatus() {
                var intervalId = setInterval(function() {
                    $.get('/upload_status', function(data) {
                        updateStatus(data.status);
                        if (data.status === 'Upload finished') {
                            $('#upload-button').removeClass('active');
                            clearInterval(intervalId);
                        }
                    });
                }, 300);
            }

            function updateStatus(status) {
                $('#status').text(status);
            }
        });
    </script>
</body>
</html>
